/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background-color: #e9e9e9;
  --dark-orange: #f5b59a;
  --light-orange: #f9d8c7;
  --font-color: #1f1d1b;
  --premium-user-color: #f5b46a;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}
